.chessboard {
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 25px solid #333;
    display: flex;
    flex-wrap: wrap;
 ;
}
.black {
    width: 80px;
    height: 80px;
    background-color: #FFCE9E;
    font-size:50px;
    text-align:center;
   

}

.white {
    width: 80px;
    height: 80px;
    background-color: #D18B47;
    font-size:50px;
    text-align:center;
} 

.text {
    opacity: 0;
    margin: 0 auto;
    color: rgb(255, 30, 30);
    text-shadow: 1px 1px black;
}

.text:not(:hover) {
    transition: 1s;
}

.text:hover {
    opacity: 1;

}

.text1 {
    opacity: 0;
    margin: -50px 0 0 0 ;
    color: rgb(255, 30, 30);
    text-shadow: 1px 1px black;

}

.text1:not(:hover) {
    transition: 1s;
}

.text1:hover {
    opacity: 1;

}
/* .piece:hover {
opacity: 0;
} */



    /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #D18B47;
  }
  
 input:checked + .slider:before {
       transform: translateX(26px);
  }
  
 /* make it rounded */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

 input:checked~.chessboard .black ,  input:checked~.chessboard .white{

       -webkit-transform: rotate(90deg);
      transform: rotate(-90deg) ;
  }

 

   /* #h1:hover {
    box-shadow:inset 2px 2px 0 rgb(247, 245, 245);
} */
 #h1:hover {
    animation-name: h1;
    animation-duration: 8s;
}
@keyframes h1 {
    0%  {transform: translateX(0px);}
    20% {transform: translateX(-570px);}
    40% {transform: translateX(0px);}
    60% {transform: translateY(-570px);}
    80% {transform: translateY(0px);}
}

#h2:hover {
    animation-name: h2;
    animation-duration: 6s;
}
@keyframes h2 {
    0% {transform: translateX(0px);}
    33% {transform: translateY(-150px);}
    66% {transform: translateY(0px);}
}

#g2:hover {
    animation-name: g2;
    animation-duration: 6s;
}
@keyframes g2 {
    0% {transform: translateX(0px);}
    33% {transform: translateY(-150px);}
    66% {transform: translateY(0px);}
}

#g1:hover {
    animation-name: g1;
    animation-duration: 6s;
}
@keyframes g1 {

    0%  {transform: translateX(0px);}
    12% {transform: translateY(-270px);}
    25% {transform: translateX(-70px);}
    50% {transform: translateX(0px);}    
}
#f1:hover {
    animation-name: f1;
    animation-duration: 10s;
}
@keyframes f1 {

    0%  {transform: translateX(0px);}
    12% {transform: translateY(-570px);}
    25% {transform: translateX(0px);}
    32% {transform: translateX(-430px);}
    50% {transform: translateX(160px);}    
}