.chessboard {
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 25px solid #333;
    display: flex;
    flex-wrap: wrap;
 ;
}
.black {
    width: 80px;
    height: 80px;
    background-color: #FFCE9E;
    font-size:50px;
    text-align:center;
   

}

.white {
    width: 80px;
    height: 80px;
    background-color: #D18B47;
    font-size:50px;
    text-align:center;
} 

.text {
    opacity: 0;
    margin: 0 auto;
    color: rgb(255, 30, 30);
    text-shadow: 1px 1px black;
}

.text:not(:hover) {
    transition: 1s;
}

.text:hover {
    opacity: 1;

}

.text1 {
    opacity: 0;
    margin: -50px 0 0 0 ;
    color: rgb(255, 30, 30);
    /* text-shadow: 1px 1px black; */

}

.text1:not(:hover) {
    transition: 1s;
}

.text1:hover {
    opacity: 1;

}
/* .piece:hover {
opacity: 0;
} */



    /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #D18B47;
  }
  
 input:checked + .slider:before {
       transform: translateX(26px);
  }
  
 /* make it rounded */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

 input:checked~.chessboard .black ,  input:checked~.chessboard .white{

       -webkit-transform: rotate(90deg);
      transform: rotate(-90deg) ;
  }

 

   /* #h1:hover {
    box-shadow:inset 2px 2px 0 rgb(247, 245, 245);
} */
/* make the pieces move */
/* pawn moves */
#h2:hover,
#a2:hover,
#b2:hover,
#c2:hover,
#d2:hover,
#e2:hover,
#f2:hover,
#g2:hover    {
    animation-name: h2;
    animation-duration: 6s;
    background-color: red;
}
@keyframes h2 {
    0% {transform: translateX(0px);}
    33% {transform: translateY(-150px);}
    66% {transform: translateY(0px);}
}

#h7:hover,
#a7:hover,
#b7:hover,
#c7:hover,
#d7:hover,
#e7:hover,
#f7:hover,
#g7:hover    {
    animation-name: h7;
    animation-duration: 6s;
    background-color: red;
}

/* castle moves */
@keyframes h7 {
    0% {transform: translateX(0px);}
    33% {transform: translateY(150px);}
    66% {transform: translateY(0px);}
}
#h1:hover {
    animation-name: h1;
    animation-duration: 8s;
    background-color: red;
}
@keyframes h1 {
    0%  {transform: translateX(0px);}
    20% {transform: translateX(-560px);}
    40% {transform: translateX(0px);}
    60% {transform: translateY(-560px);}
    80% {transform: translateY(0px);}
}

#a1:hover {
    animation-name: a1;
    animation-duration: 8s;
    background-color: red;
}
@keyframes a1 {
    0%  {transform: translateX(0px);}
    20% {transform: translateX(560px);}
    40% {transform: translateX(0px);}
    60% {transform: translateY(-560px);}
    80% {transform: translateY(0px);}
}

#a8:hover {
    animation-name: a8;
    animation-duration: 8s;
    background-color: red;
    
}
@keyframes a8 {
    0%  {transform: translateX(0px);}
    20% {transform: translateX(560px);}
    40% {transform: translateX(0px);}
    60% {transform: translateY(560px);}
    80% {transform: translateY(0px);}
}
#h8:hover {
    animation-name: h8;
    animation-duration: 8s;
    background-color: red;
}
@keyframes h8 {
    0%  {transform: translateX(0px);}
    20% {transform: translateX(-560px);}
    40% {transform: translateX(0px);}
    60% {transform: translateY(560px);}
    80% {transform: translateY(0px);}
}

/* queen moves */
#d1:hover {
    animation-name: d1;
    animation-duration: 10s;
    background-color: red;
}
@keyframes d1 {

    0%  {transform: translateX(0px);}
    20% {transform: translateY(-560px);}
    40% {transform: translateX(0px);}
    60% {transform: translateX(-240px);}
    80% {transform: translateX(320px);}    
}
#d8:hover {
    animation-name: d8;
    animation-duration: 10s;
    background-color: red;
}
@keyframes d8 {

    0%  {transform: translateX(0px);}
    20% {transform: translateY(560px);}
    40% {transform: translateX(0px);}
    60% {transform: translateX(-240px);}
    80% {transform: translateX(320px);}    
}

/* king moves */
#e1:hover {
    animation-name: e1;
    animation-duration: 6s;
    background-color: red;
}
@keyframes e1 {

    0%  {transform: translateX(0px);}
    20% {transform: translateY(-80px);}
    40% {transform: translateX(0px);}
    60% {transform: translateX(-80px);}
    80% {transform: translateX(80px);}    
}
#e8:hover {
    animation-name: e8;
    animation-duration: 6s;
    background-color: red;
}
@keyframes e8 {

    0%  {transform: translateX(0px);}
    20% {transform: translateY(80px);}
    40% {transform: translateX(0px);}
    60% {transform: translateX(-80px);}
    80% {transform: translateX(80px);}    
}

/* knight moves */
#g1:hover {
    animation-name: g1;
    animation-duration: 10s;
    background-color: red;
}
@keyframes g1 {

    0%  {transform: translateX(0px);}
    20% {transform: translate(-160px, -80px);}
    40% {transform: Translate(-80px, -160px);}
    60% {transform: translate(80px, -160px);}
    80% {transform: translateX(0px);}    
}

#b1:hover {
    animation-name: b1;
    animation-duration: 6s;
    background-color: red;
}
@keyframes b1 {

    0%  {transform: translateX(0px);}
    20% {transform: translate(160px, -80px);}
    40% {transform: Translate(80px, -160px);}
    60% {transform: translate(-80px, -160px);}
    80% {transform: translateX(0px);}    
}
#b8:hover {
    animation-name: b8;
    animation-duration: 6s;
    background-color: red;
}
@keyframes b8 {

    0%  {transform: translateX(0px);}
    20% {transform: translate(160px, 80px);}
    40% {transform: Translate(80px, 160px);}
    60% {transform: translate(-80px, 160px);}
    80% {transform: translateX(0px);}    
}

#g8:hover {
    animation-name: g8;
    animation-duration: 6s;
    background-color: red;
}
@keyframes g8 {

    0%  {transform: translateX(0px);}
    20% {transform: translate(-160px, 80px);}
    40% {transform: Translate(-80px, 160px);}
    60% {transform: translate(80px, 160px);}
    80% {transform: translateX(0px);}    
}
/* rook moves */
#f1:hover {
    animation-name: f1;
    animation-duration: 8s;
    background-color: red;
}
@keyframes f1 {

    0%  {transform: translateX(0px);}
    25% {transform: translate(-400px,-400px);}
    50% {transform: translateX(0px);} 
    75% {transform: Translate(160px, -160px);}      
}
#f8:hover {
    animation-name: f8;
    animation-duration: 8s;
    background-color: red;
}
@keyframes f8 {

    0%  {transform: translateX(0px);}
    25% {transform: translate(160px,160px);}
    50% {transform: translateX(0px);} 
    75% {transform: Translate(-400px, 400px);}      
}

#c1:hover {
    animation-name: c1;
    animation-duration: 8s;
    background-color: red;
}
@keyframes c1 {

    0%  {transform: translateX(0px);}
    25% {transform: translate(-160px,-160px);}
    50% {transform: translateX(0px);} 
    75% {transform: Translate(400px, -400px);}      
}

#c8:hover {
    animation-name: c8;
    animation-duration: 8s;
    background-color: red;
}
@keyframes c8 {

    0%  {transform: translateX(0px);}
    25% {transform: translate(-160px,160px);}
    50% {transform: translateX(0px);} 
    75% {transform: Translate(400px, 400px);}      
}
